 

.footer {
     background-image: linear-gradient(to right, #262222, #3a945eb3);
    color: rgb(243, 235, 235);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.dropdown-container {
 background-image: linear-gradient(to right, #262222, #3a945eb3);
border : 0px none;
border-radius: 5px;
padding: 10px;
width: 100px;
margin: 20px auto;
position: fixed;
top: 60px;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

}
.dropdown-button {
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    height: 30px;
     background-image: linear-gradient(to right, #363030, #3a945eb3);
}