 

.footer {
     background-image: linear-gradient(to right, #584e4e, #55f695ac);
    color: rgb(243, 235, 235);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

Nav {
    background-image: linear-gradient(to right, #584e4e, #55f695ac);
    overflow: hidden;
}

Nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

Nav li {
    float: left;
}

Nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

Nav a:hover {
    background-color: #484545;
    color: rgb(228, 227, 227);
}
