 body{
     background-color: rgba(2, 34, 5, 0.8);
    color: white;
    text-align: center;
}

h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    position:  relative;
  
}

