 body{
    background-image: linear-gradient(to right, #584e4e, #55f695ac);
    text-align: center;
}

h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #584e4e, #55f695ac);
    position:  relative;
    color:rgb(247, 244, 244);
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(73, 196, 94);
}
li{
    list-style-type: none;  
    color: white;
}



