 body{
    margin: 0;
    background-color: rgb(33, 49, 31);
 
}
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(169, 0, 0);
    margin-top: 150px;
}

 
p{
    font-size: 20px;
    text-align: center;
    color: rgb(229, 221, 221);
    margin-bottom: 100px;
}


a{
    text-decoration: none;
    color: white;
}
 
ul{
    list-style-type: none;
    text-align: center;
    margin-top: 200px;
    color: white;
}

 
footer{
    background-color: #171111;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav{
    background-color: #080808;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: rgb(149, 135, 135);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #484545;
    color: rgb(228, 227, 227);
}

.AboutUs{
    margin-top: 150px;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}

.ContactUs{
    margin-top: 150px;
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}


